* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://cdnc.imagefap.com/images/full/75/196/1961411168.jpg?secure=rNLQwu9qIjF86aTKyMsTlQ==,1694898455");
  background-size: 400px 600px;
}

.container {
  width: 400px;
  height: 300px;
  background-color: blue;
  transform: translate(50%, 50%);
}
